.site-header {
    background: var(--primary);
    box-sizing: border-box;
    margin: auto 1.5rem;
    border-radius: var(--borderSM);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-card {
    border-radius: 0.6rem;
    background-color: var(--light);
    text-align: center;
    margin: 1rem;
}

.site-content {
    padding: 1.5rem;
}

.ant-spin-dot-item {
    background-color: var(--primary) !important;
}