.site-header {
    background: none;
}

.header-card,
.footer-card {
    border-radius: 0.6rem;
    background-color: var(--light);
    text-align: center;
    margin: 1rem;
}

.site-content {
    padding: 1.5rem;
}