.add-layout {
    gap: 2rem;
}

.add-header {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: var(--primary);
    border-radius: var(--borderMD);
    display: flex;
    align-items: center;
}

.add {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: var(--primary);
    border-radius: var(--borderMD);
    padding: 1rem !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}