.add-layout {
    gap: 2rem;
}

.add-header {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: var(--primary);
    border-radius: var(--borderMD);
    display: flex;
    align-items: center;
}

.add {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: white;
    border-radius: var(--borderMD);
    padding: 1rem !important;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(255, 165, 0, 0.25) 0rem 0.4rem 0.8rem -0.13rem, rgba(0, 0, 0, 0.3) 0rem 0.19rem 0.45rem -0.19rem;
}

.add-content-left,
.add-content-middle,
.add-content-right {
    width: 50%;
    height: auto;
    box-sizing: border-box;
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.recipe-content-preview {
    width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: var(--borderMD);
    box-shadow: rgba(255, 166, 0, 0.39) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    overflow: hidden;
}

.recipe-content-image {
    width: 100%;
    height: auto;
    max-height: 20rem;
    object-fit: cover;
    margin-bottom: 16px;
    border-radius: var(--borderMD);
    border: 0.1rem solid var(--primary);
}

.recipe-content-ingredients {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.recipe-content-instructions {
    width: 50%;
    height: auto;
    box-sizing: border-box;
    padding: 0.4rem;
    box-shadow: rgba(255, 166, 0, 0.39) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: var(--borderSM);
    margin: 1.5rem 0;
}

.recipe-content-specifics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 1rem;
}