.home-layout {
    gap: 2rem;
}

.header {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: var(--primary);
    border-radius: var(--borderMD);
    display: flex;
    align-items: center;
}

.home-content-top,
.home-content-bottom {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: var(--secondary);
    border-radius: var(--borderMD);
    padding: 1rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.typed {
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.home-pages-link {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer {
    width: 100%;
    text-align: center;
}