.sidebar {
    height: 100vh;
    position: fixed !important;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background-color: var(--dark) !important;
    overflow: auto;
    padding-top: 1.5rem;
}

.menu {
    background-color: var(--dark) !important;
}

.menu-link {
    color: var(--primary) !important;
}

.ant-menu-item {
    fill: var(--primary);
}

.ant-menu-item-selected {
    background-color: var(--light) !important;
    color: var(--primary) !important;
}