.sidebar {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background-color: var(--dark) !important;
    overflow: auto;
}

.site-layout {
    transition: margin-left 0.5s;
}

.menu {
    background-color: var(--dark) !important;
}

.menu-link {
    color: var(--primary) !important;
}

.ant-menu-item {
    fill: var(--primary);
}

.ant-menu-item-selected {
    background-color: var(--light) !important;
    color: var(--primary) !important;
}