.recipe-image {
    width: 100%;
    height: auto;
    max-height: 25rem;
    object-fit: cover;
    margin-bottom: 16px;
    border-radius: var(--borderMD);
    border: 0.1rem solid var(--primary);
}

.recipe-ingredients {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 16px;
}

.ingredient {
    font-weight: 600;
    color: var(--dark);
    background-color: var(--primary);
    padding: 5px 10px;
    border-radius: 5px;
}

.recipe-instructions {
    margin-bottom: 16px;
}

.add-comment {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    color: var(--dark);
}